.filter_item {
 display: flex;
 border: 2px solid var( --border-white);
 align-items: center;
 /* justify-content: center; */
 gap: 10px;
 padding: 5px 10px;
 border-radius: 8px;
 color: var(--filter-text);
}


.filter_name {
font-size: 15px;
}